<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/WEBBY CSS/webby.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sansation&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Anta&display=swap"
      rel="stylesheet"
    />


    <title>WEBBY</title>
  </head>
  <body>
    <div class="container">
      <div class="background">
        <div class="white_glow"></div>
        <div class="circle"></div>
        <div class="Headset1"></div>
        <div class="diagonal diagonalEntrance" style="animation-delay: 0.5s;"></div>
        <div class="STUDIO entranceStudio" style="animation-delay: 0.7s;">STUDIO</div>
        <div class="experience">Experience Premium</div>
        <div class="WIRELESS entranceWireless" style="animation-delay: 0.5s;">WIRELESS</div>
        <div class="Headset entrance22" style="animation-delay: 0.5s;"></div>
        <nav>
          <div class="links linksEntrance" style="animation-delay: 0.5s;">
            <a href="#">Home</a>
            <a href="#">About us</a>
            <a href="#">Contact</a>
            <a href="#">Product</a>
            <a href="#">Cart</a>
          </div>
        </nav>
      </div>
    </div>

    <div class="NewPage">

        <div class="singleText">Order now for best Experience</div>
        <aside>
            <a href="#" class="buttonShop">SHOP NOW</a>
        </aside>
    
    <div class="containerAIRPODS">
        <div class="AIRPODS" id="air1"><h1>Earpods Pro</h1></div>
        <div class="textMagic" id="air2">Magic like you've never heard</div>
        <div class="newpage_Sentence" id="air3">AirPods Pro are the only in-ear headphones with Active Noise Cancellation that continuously adapts to the geometry of your ear and the fit of the ear tips blocking out the world so you can focus on what you're listening to</div>
    </div>

    <div class="image_whiteGlow">
        <figure>
         <div class="whiteGlow"></div>
         <div class="earphone image-reveal"></div>
         
         </figure>

    </div>


    </div>
    <!--NewpAGE CLOSING TAG-->

    <div class="thirdPage">

        <div class="categories">Categories</div>

         <div class="Square">
                
                <div class="grid">
                     <a href="product1.html" class="item box1" style="grid-area: box1;"></a>
                     <a href="product2.html" class="item box2" style="grid-area: box2;"></a>
                     <a href="product3.html" class="item box3" style="grid-area: box3;"></a>
                     <a href="product4.html" class="item box4" style="grid-area: box4;"></a>
                     <a href="product5.html" class="item box5" style="grid-area: box5;"></a>
                </div>


         </div>

         <footer>
           
           <div class="holder">

              <div class="descriptions"></div>

            </div>

         </footer>



    </div>
    <!--Third page closing tag-->
  </body>
</html>
